/*FONT*/
.anotation, .exercicie {
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    color: white;
} 

.textGitHub, .textSoftware, .textVariables, .textOperators, .textLing, .textDecision, .textRepeat, .textVector, .textHeadquarters, .textFunction, .textPOO{
    font-family: "Cabin", sans-serif;
    font-size: 20px;
    color: white;
}

.tittleVariables, .tittleOperators, .tittleSoftware, .tittleTag, .tittleDecision, .tittleRepeat, .tittleVector, .tittleHeadquarters, .tittleFunction, .tittlePOO{
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 30px;
    
}

.acronymPOO{
    font-family: "Rubik", sans-serif;
    color: white;
    font-size: 20px;
    font-style: italic;
}

.name {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-size: 35px;
    color: white;
}

.anotation, .exercicie {
    font-family: "Kanit", sans-serif;
    font-size: 50px;
    color: white;
}

.tittleArithmetic, .tittleComparison, .tittleLogic, .tittleIfElse, .tittleSwitch, .tittleFor, .tittleWhile, .tittleClass, .tittleEncapsulation{
font-family: "Mukta", sans-serif;
    font-size: 25px;
    color: white;
}

.textArithmetic, .textComparison, .textLogic, .textIfElse, .textSwitch, .textFor, .textWhile, .textClass, .textObject, .textEncapsulation{
    font-family: "Cabin", sans-serif;
    font-size: 20px;
    color: white;
}
/*BODY*/
html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: rgb(0, 0, 0);
    box-sizing: border-box;
}

/*HEADER*/

header {
    width: calc(100% - 200px);
    height: 70px;
    position: fixed;
    top: 0;
    left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    font-family: "IBM Plex Mono", monospace;
    z-index: 1000;
    background: black;
    border-bottom: 1px solid rgb(255, 255, 255);
}

header .right-menu {
    display: flex;
    align-items: center;
    color: white;
}

header .right-menu span {
    margin-left: 20px;
    white-space: nowrap;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: white;
}

/*MAIN*/

main {
    padding-top: 75px;
    flex: 1;
    width: calc(100% - 200px);
    margin-left: 100px;
    background: rgb(0, 0, 0);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Another color for text*/
g{
    color: rgb(6, 214, 75);
}

/*Text config*/

.anotation {
    line-height: 20px;
}

.Software{
    margin-top: 35px;
    line-height: 15px;
}


.Variables, .Operators, .Decision, .Repeat, .Vector, .Headquarters, .POO, .Function{
    margin-top: 50px;
    line-height: 20px;
}

.texArithmetics, .textComparison, .textLogic, .textIfElse, .textSwitch, .textFor, .textWhile, .textObject, .textClass, .textEncapsulation{
    line-height: 25px;
}


.Arithmetics, .Comparison, .IfElse, .Switch, .For, .While, .Class, .Encapsulation{
    margin-top: 35px;
    line-height: 15px; 
}

.Text-Right{
    margin-left: 30px;
}

/* Footer */
#footer {
    width: calc(100% - 200px);
    height: 20px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    font-family: "IBM Plex Mono", monospace;
    z-index: 1000;
    background: rgb(0, 0, 0);
    border-top: 1px solid white;
    margin-top: 30px;
    padding: 0 100px;
    opacity: 0;
    transition: 0.3s ease;
    padding-top: 25px;
}

body.no-scroll {
    margin-bottom: 20px;
}

footer .F_left, .F_right {
    display: flex;
    align-items: center;
}

footer .F_right a {
    margin-left: 20px;
    white-space: nowrap;
    color: white;
}

.F_name {
    font-family: "IBM Plex Mono", monospace;
    font-size: 17px;
    font-weight: 700;
    font-size: 17px;
    padding-bottom: 5px;
}

.TextRight {
    margin-left: 30px;
}

/* Toggle List */
.tagHTML {
    background-color: #242424;
    color: #515050;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #ddd;
    text-align: left;
    outline: none;
    font-size: 20px;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Inconsolata', monospace;
    margin-top: 15px;
}

.active, .tagHTML:hover{
    background-color: #e2e6ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contentHTML {
    padding: 0 18px;
    overflow: hidden;
    background-color: #1e1e1e;
    border: 1px solid #ddd;
    border-radius: 0 0 8px 8px;
    margin-top: -10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    max-height: 0;
    color:#e2e6ea;
    font-family: "Merriweather", serif;
}

.contentHTML.show{
    padding: 18px;
    max-height: 500px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    padding: 5px 0;
    margin-left:15px;
}

/* Code Container */
.code-container {
    background-color: #1e1e1e;
    border-radius: 5px;
    padding: 20px;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 300px;
    margin-top: 20px;
    scrollbar-width: thin;
    scrollbar-color: #555 #2e2e2e;
}

.code-container1 {
    background-color: #1e1e1e;
    border-radius: 5px;
    padding: 20px;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 300px;
    scrollbar-width: thin;
    scrollbar-color: #555 #2e2e2e;
    margin-top: 10px;
}

pre {
    margin: 0;
}

code {
    font-size: 17px;
    font-family: "Courier New", Courier, monospace;
    color: #dcdcdc;
}

@media only screen and (max-width: 768px) {
    header {
        font-size: 16px;
    }
    .name {
        font-size: 25px;
    }
}

@media only screen and (max-width: 480px) {
    header {
        font-size: 14px;
    }
    .name {
        font-size: 20px;
    }

}